
body {
  margin: 0;
}

.ext-app {
  width: 250px;
  max-width: 100%;
  padding: 3px;
  box-sizing: border-box;
  font: 14px/1.15 Helvetica, Arial, sans-serif;
}

.ext-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ext-list__item {
  width: 100%;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.ext-list__item--active {
  color: lightgreen;
}

.ext-list__icon {
  max-width: 16px;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.ext-note {

}