
body {
  margin: 0;
  font: 14px/1.15 Helvetica, Arial, sans-serif;
  color: #222;
}

.ext-app {
  width: 210px;
  max-width: 100%;
  box-sizing: border-box;
  clear: both;
}

.ext-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ext-list__item {
  width: 100%;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
}

.ext-list__item--active {
  color: #4F8A10;
}

.ext-list__icon {
  max-width: 16px;
  width: 100%;
  height: auto;
  border: 0;
  float: left;
  margin-right: 5px;
  filter: grayscale(1);
}

.ext-list__item:hover {
  background: rgba(0, 0, 0, .02);
}

.ext-list__item--active .ext-list__icon {
  filter: grayscale(0);
}

.ext-note {
  padding: 10px;
}